nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #d10f0f;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
}


.title {
    color: white;
    margin: 15px;
    font-size: 25px;
}

@media screen and (max-width: 920px) {
    nav {
        flex-direction: column;
    }
    .nav-links {
        justify-content: center;
    }
    .title {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .nav-links {
        flex-direction: column;
    }
}

