nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #415d8a;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.title {
    color: white;
    margin: 20px;
    font-size: 30px;
}

